.details-wrapper {
	box-sizing: border-box;
	.make-row();

	.details {
		box-sizing: border-box;
		.make-md-column(4);
		.make-md-column-offset(4);
		padding-top: 100px;

		.wrapper & ul {
			box-sizing: border-box;
			margin-left: 0;
			margin-right: 0;
			padding-top: 20px;

			li {
				.make-md-column(12);
				.make-md-column-offset(0);
				border: none;

				span {
					font-weight: bold;
				}
			}
		}

		h2, a {
			@media (max-width: @screen-xs-max){
				margin-left: 34px;
			}
		}
	}
}